In [21]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.firefox.service import Service
from webdriver_manager.firefox import GeckoDriverManager

In [136]:
import numpy as np

In [11]:
driver = webdriver.Firefox(service=Service(GeckoDriverManager().install()))

====== WebDriver manager ======
Current firefox version is 100.0
Get LATEST geckodriver version for 100.0 firefox
There is no [linux64] geckodriver for browser 100.0 in cache
Getting latest mozilla release info for v0.31.0
Trying to download new driver from https://github.com/mozilla/geckodriver/releases/download/v0.31.0/geckodriver-v0.31.0-linux64.tar.gz
Driver has been saved in cache [/home/pmg/.wdm/drivers/geckodriver/linux64/v0.31.0]

In [151]:
URL = "https://finance.yahoo.com/"

In [13]:
driver.get(URL)

In [152]:
def getTrendingTickers():
    tickers = set()
    driver.get("https://finance.yahoo.com/trending-tickers")
    table = driver.find_element(By.TAG_NAME, "table")
    tbody = table.find_element(By.TAG_NAME, "tbody")
    rows = tbody.find_elements(By.TAG_NAME, "tr")
    for row in rows:
        tickers.add(row.text.strip().split('\n')[0])
    return tickers

In [158]:
def getFinancials(ticker):
    out = []
    c_url = URL + f"quote/{ticker}/financials?p={ticker}"
    driver.get(c_url)
    try:
        header = driver.find_element(By.CLASS_NAME, "D\(tbhg\)")
        cols = header.find_elements(By.TAG_NAME, "span")
        table = driver.find_element(By.CLASS_NAME, "D\(tbrg\)")
        rows = table.find_elements(By.CSS_SELECTOR, "div[data-test='fin-row']")
    except Exception:
        return []
    out.append([col.text for col in cols])
    
    for row in rows:
        out.append(row.text)
        
    return out

In [51]:
trending_tickers = getTrendingTickers()
print(trending_tickers)

{'OXY', 'TSLA', 'ATER', 'CL=F', 'AGRI', 'IMPP', 'SAVE', '^CMC200', 'T', 'DTST', 'NET', 'NIO', 'CMRX', 'LLY', 'KMI', 'INDO', 'SNDL', 'BBIG', 'CM.TO', 'WIX', 'CVX', 'MRK', 'DDOG', 'IQ', 'TNXP', 'NBEV', 'XOM', 'CHGG', 'TWOU', 'TLRY'}

In [63]:
ticker = 'TSLA'
current_url = URL + f"quote/{ticker}?p={ticker}"

In [64]:
current_url

'https://finance.yahoo.com/quote/TSLA?p=TSLA'

In [65]:
driver.get(current_url)

In [127]:
header = driver.find_element(By.CLASS_NAME, "D\(tbhg\)")

In [129]:
cols = header.find_elements(By.TAG_NAME, "span")

In [135]:
for col in cols:
    print(col.text)

Breakdown
TTM
12/30/2021
12/30/2020
12/30/2019
12/30/2018

In [112]:
table = driver.find_element(By.CLASS_NAME, "D\(tbrg\)")

In [123]:
rows = table.find_elements(By.CSS_SELECTOR, "div[data-test='fin-row']")

In [146]:
rows[2].text

'Gross Profit\n16,851,000 13,606,000 6,630,000 4,069,000 4,042,021'

In [134]:
for row in rows:
    print(row.text.strip())
    print("#")

Total Revenue
62,190,000 53,823,000 31,536,000 24,578,000 21,461,268
#
Cost of Revenue
45,339,000 40,217,000 24,906,000 20,509,000 17,419,247
#
Gross Profit
16,851,000 13,606,000 6,630,000 4,069,000 4,042,021
#
Operating Expense
7,245,000 7,110,000 4,636,000 3,989,000 4,294,861
#
Operating Income
9,606,000 6,496,000 1,994,000 80,000 -252,840
#
Net Non Operating Interest Income Expense
-259,000 -315,000 -718,000 -641,000 -638,538
#
Other Income Expense
89,000 162,000 -122,000 -104,000 -113,367
#
Pretax Income
9,436,000 6,343,000 1,154,000 -665,000 -1,004,745
#
Tax Provision
976,000 699,000 292,000 110,000 57,837
#
Net Income Common Stockholders
8,399,000 5,519,000 690,000 -862,000 -976,091
#
Diluted NI Available to Com Stockholders
8,399,000 5,519,000 690,000 -862,000 -976,091
#
Basic EPS
- 5.60 0.74 -0.98 -1.14
#
Diluted EPS
- 4.90 0.64 -0.98 -1.14
#
Basic Average Shares
- 986,000 960,000 885,000 852,625
#
Diluted Average Shares
- 1,129,000 960,000 885,000 852,625
#
Total Operating Income as Reported
-3,514,000 -6,523,000 1,994,000 -69,000 -388,073
#
Total Expenses
52,584,000 47,327,000 29,542,000 24,498,000 21,714,108
#
Net Income from Continuing & Discontinued Operation
8,399,000 5,519,000 690,000 -862,000 -976,091
#
Normalized Income
8,465,346 5,494,970 690,000 -738,330 -877,371
#
Interest Income
74,000 56,000 30,000 44,000 24,533
#
Interest Expense
333,000 371,000 748,000 685,000 663,071
#
Net Interest Income
-259,000 -315,000 -718,000 -641,000 -638,538
#
EBIT
9,769,000 6,714,000 1,902,000 20,000 -341,674
#
EBITDA
12,939,000 - - - -
#
Reconciled Cost of Revenue
45,339,000 40,217,000 24,906,000 20,509,000 17,419,247
#
Reconciled Depreciation
3,170,000 2,911,000 2,322,000 2,154,000 1,901,050
#
Net Income from Continuing Operation Net Minority Interest
8,399,000 5,519,000 690,000 -862,000 -976,091
#
Total Unusual Items Excluding Goodwill
-74,000 27,000 0 -149,000 -135,233
#
Total Unusual Items
-74,000 27,000 0 -149,000 -135,233
#
Normalized EBITDA
13,013,000 9,598,000 4,224,000 2,323,000 1,694,609
#
Tax Rate for Calcs
0 0 0 0 0
#
Tax Effect of Unusual Items
-7,654 2,970 0 -25,330 -36,513
#

In [155]:
getFinancials('TSLA')

[['Breakdown', 'TTM', '12/31/2021', '12/31/2020', '12/31/2019', '12/31/2018'],
 'Total Revenue\n62,190,000 53,823,000 31,536,000 24,578,000 21,461,268',
 'Cost of Revenue\n45,339,000 40,217,000 24,906,000 20,509,000 17,419,247',
 'Gross Profit\n16,851,000 13,606,000 6,630,000 4,069,000 4,042,021',
 'Operating Expense\n7,245,000 7,110,000 4,636,000 3,989,000 4,294,861',
 'Operating Income\n9,606,000 6,496,000 1,994,000 80,000 -252,840',
 'Net Non Operating Interest Income Expense\n-259,000 -315,000 -718,000 -641,000 -638,538',
 'Other Income Expense\n89,000 162,000 -122,000 -104,000 -113,367',
 'Pretax Income\n9,436,000 6,343,000 1,154,000 -665,000 -1,004,745',
 'Tax Provision\n976,000 699,000 292,000 110,000 57,837',
 'Net Income Common Stockholders\n8,399,000 5,519,000 690,000 -862,000 -976,091',
 'Diluted NI Available to Com Stockholders\n8,399,000 5,519,000 690,000 -862,000 -976,091',
 'Basic EPS\n- 5.60 0.74 -0.98 -1.14',
 'Diluted EPS\n- 4.90 0.64 -0.98 -1.14',
 'Basic Average Shares\n- 986,000 960,000 885,000 852,625',
 'Diluted Average Shares\n- 1,129,000 960,000 885,000 852,625',
 'Total Operating Income as Reported\n-3,514,000 -6,523,000 1,994,000 -69,000 -388,073',
 'Total Expenses\n52,584,000 47,327,000 29,542,000 24,498,000 21,714,108',
 'Net Income from Continuing & Discontinued Operation\n8,399,000 5,519,000 690,000 -862,000 -976,091',
 'Normalized Income\n8,465,346 5,494,970 690,000 -738,330 -877,371',
 'Interest Income\n74,000 56,000 30,000 44,000 24,533',
 'Interest Expense\n333,000 371,000 748,000 685,000 663,071',
 'Net Interest Income\n-259,000 -315,000 -718,000 -641,000 -638,538',
 'EBIT\n9,769,000 6,714,000 1,902,000 20,000 -341,674',
 'EBITDA\n12,939,000 - - - -',
 'Reconciled Cost of Revenue\n45,339,000 40,217,000 24,906,000 20,509,000 17,419,247',
 'Reconciled Depreciation\n3,170,000 2,911,000 2,322,000 2,154,000 1,901,050',
 'Net Income from Continuing Operation Net Minority Interest\n8,399,000 5,519,000 690,000 -862,000 -976,091',
 'Total Unusual Items Excluding Goodwill\n-74,000 27,000 0 -149,000 -135,233',
 'Total Unusual Items\n-74,000 27,000 0 -149,000 -135,233',
 'Normalized EBITDA\n13,013,000 9,598,000 4,224,000 2,323,000 1,694,609',
 'Tax Rate for Calcs\n0 0 0 0 0',
 'Tax Effect of Unusual Items\n-7,654 2,970 0 -25,330 -36,513']

In [159]:
all_output = []
for ticker in trending_tickers:
    all_output.append(getFinancials(ticker))

In [137]:
#driver.close()